.footer {
  background-color: #121212;
  color: white;
}

.footer-menu {
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
}

.footer-nav {
  max-width: 450px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 87px;
  font-size: 18px;
  line-height: 25px;
}

.footer-nav a {
  color: white;
  letter-spacing: -0.03em;
}

.footer-nav a:hover {
  opacity: 0.5;
  text-decoration: none;
}

.footer-text {
  padding-left: 6px;
  opacity: 0.5;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
}

@media (max-width: 500px) {
  .footer-menu {
    padding-top: 30px;
    padding-bottom: 26px;
    text-align: center;
  }

  .footer-nav {
    max-width: 281px;
    padding-bottom: 41px;
    font-size: 12px;
    line-height: 16px;
  }

  .footer-text {
    font-size: 13px;
    line-height: 18px;
  }
}
