.menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 33px;
}

.menu-logo {
  width: 127px;
  height: 21px;
}

.menu-nav {
  display: flex;
  gap: 30px;
  height: 25px;
  line-height: 25px;
  letter-spacing: -0.03em;
  font-size: 18px;
}

.menu-nav a {
  color: #121212;
  letter-spacing: -0.03em;
  line-height: 25px;
}

.menu-nav a:hover {
  opacity: 0.5;
  padding-bottom: 2px;
  border-bottom: 1px solid;
}

@media (max-width: 1199px) {
  .menu {
    margin-top: 30px;
  }

  .menu-nav {
    display: none;
  }

  .burger-button {
    display: block;
    position: absolute;
    z-index: 100;
    width: 50px;
    height: 10px;
  }

  .burger-button span {
    position: absolute;
    width: 50px;
    height: 3px;
    background-color: black;
  }

  .burger-button span:last-child {
    position: absolute;
    left: 19px;
    width: 31px;
    height: 2px;
    background-color: black;
    margin-top: 7px;
  }
}

@media (max-width: 500px) {
}
